body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background: #f4f6f8;
    color: #333;
}

header {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
    padding: 30px;
    text-align: center;
}

nav {
    background: #ffffff;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #2a5298;
    font-weight: bold;
}

section {
    padding: 40px;
    background: white;
    margin: 20px;
    border-radius: 10px;
}

h2 {
    color: #1e3c72;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background: #2a5298;
    color: white;
}

.upi-box {
    background: #eef3ff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 10px;
}

footer {
    background: #1e3c72;
    color: white;
    text-align: center;
    padding: 15px;
}
.qr-img {
    width: 180px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.note {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}
.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    color: white;
    padding: 12px 18px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.whatsapp-btn:hover {
    background: #1ebe5d;
}
@media (max-width: 768px) {

    header h1 {
        font-size: 24px;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }

    section {
        padding: 20px;
        margin: 10px;
    }

    table {
        font-size: 13px;
    }

    table th, table td {
        padding: 6px;
    }

    .qr-img {
        width: 150px;
    }

    iframe {
        height: 220px;
    }

    .whatsapp-btn {
        font-size: 14px;
        padding: 10px 14px;
    }
}
.services-section {
  text-align: center;
  padding: 40px 20px;
  background: linear-gradient(135deg, #dde9ee, #1e3c72, #dde9ee);
  color: #3801ff;
}

.services-section h2 {
  font-size: 32px;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.scroll-container {
  width: 100%;
  overflow: hidden;
  background: rgb(8, 8, 8);
  border-radius: 30px;
  padding: 15px 0;
}

.scroll-text {
  display: inline-flex;
  gap: 40px;
  white-space: nowrap;
  animation: scroll-left 30s linear infinite;
}

.scroll-text span {
  background: #ffffff;
  color: #2c5364;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 5px 15px rgb(184, 235, 3);
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
